/*  your css code here. If applicable */
body{
	font-family:"Courier New", Courier, monospace;
	width:100%;
}
h1{
	text-align:center;
}
span{
	color:skyblue;
}
label{
	display:block;
}
input[type="text"], [type="number"]{
	width:90%;
	padding:5px;
	margin:4px 0;
	display:inline-block;
	box-sizing:border-box;
}
#submit{
	background-color:blueviolet;
	color:white;
	border:none;
	padding:6px 12px;
}
.table{
	width:100%;
	margin-top:20px;
}